@page "/"

@inject IContactService ContactService
@inject NavigationManager NavigationMaanger


@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Contacts</PageTitle>

<h3>Contacts</h3>

@Message

@if (contacts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in contacts)
            {
                <tr>
                    <td>@contact.FullName</td>
                    <td>@contact.Phone</td>
                    <td>@contact.Address</td>
                    <td><a class="btn btn-primary" href="/contactdetails/@contact.Id">Edit</a></td>
                    <td><a class="btn btn-danger" href="/contactdelete/@contact.Id">Delete</a></td>
                </tr>
            }

        </tbody>
    </table>
}


@code {
    IEnumerable<Contact> contacts;
    public string Message { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            contacts = await ContactService.GetAllContacts();
        }
        catch (Exception e)
        {
            Message = "Error..." + e.Message;
        }
    }

}
